// thay đổi css của toàn trang web
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

html,body{
    margin: 0;
}
*{  
    font-family: 'Philosopher', sans-serif;
    padding:0;
    margin: 0;
}